covid_api/schemas/happinessSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="world_happiness">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="country_name" type="xs:string"/>
                <xs:element name="happiness_rank" type="xs:integer"/>
                <xs:element name="happiness_score" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>